
<section class="contact_area pad" id="contact">
  <div class="main_title">
      <h2>Contact Us</h2>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="left_contact_details wow fadeInUp animated">
              <div class="buttons-wrapper">
                <div class="media">
                  <div class="media-left">
                      <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="media-body">
                      <h4>City</h4>
                      <p>{{city}},{{country}}</p>
                  </div>
              </div>
              <div class="media">
                  <div class="media-left">
                      <i class="fa fa-skype"></i>
                  </div>
                  <div class="media-body">
                      <h4>Skype</h4>
                      <p>{{skype}}</p>
                  </div>
              </div>
              <div class="media">
                  <div class="media-left">
                      <i class="fa fa-envelope-o"></i>
                  </div>
                  <div class="media-body">
                      <h4>Email</h4>
                      <p>{{email}}</p>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="row">
  <div class="col-sm-12">
      <div class="location-map">
          <agm-map [latitude]="latitude" [longitude]="longitude" [minZoom]="minZoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
      </div>
  </div>
</div>