<section class="portfolio_area pad" id="portfolio" style="margin-bottom: 45px;">
    <div class="main_title">
        <h2>Portfolio</h2>
    </div>
    <div class="row">
        <div class="portfolio_list_inner">
            <div class="col-md-4 photo marketing" *ngFor="let portfolio of portfolioList; let i = index">
                <div class="portfolio_item">
                    <div class="portfolio_img">
                        <img src={{portfolio.img}} alt="">
                    </div>
                    <div class="portfolio_title">
                        <a href="#"><h4>{{ portfolio.project }}</h4></a>
                        <div>
                            <ul class="list-check" style="text-align: left;">
                                <li *ngFor="let tec of portfolio.technologies">{{tec}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>