<section class="about_person_area pad" id="about">
  <div class="row">
      <div class="col-md-5">
          <div class="person_img">
              <img class="img-about" src="assets/img/member/david-zuluaga.jpg" alt="">
              <a class="download_btn" target="_self" href="assets/CV_David_Zuluaga.pdf" download="CV-David_zuluaga.pdf"><span>Download Resume</span></a>
          </div>
      </div>
      <div class="col-md-7">
          <div class="row person_details">
              <h3>Hi I'm <span>David Fernando Zuluaga</span></h3>
              <h4>Fullstack Developer</h4>
              <p>My name is {{information.name}}. I am {{information.age}} years old. Software Engineer with 1+ years in software development with knowledge in Front-End Technologies such as HTML5, CSS3, JavaScript and React, and in Backend technologies such as Python, Django rest framework and PostgrestSQL, I also have experience in Database design and Service Oriented Architectures. Other skills include team work and learning by myself. Also, I am passionate about implementing new technologies and writing coding.</p>
              <br><br>
              
              <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</section>