<section class="about_person_area pad" id="about">

    <div class="main_title " style="padding: 0px 0px !important; margin-top: -46px;">
        <h2 class="title-skill">About me</h2>
    </div>
    <div style="display: flex;
    flex-direction: column;">
        <div class="wrapp-image">
            <div>
                <div class="person_img">
                    <img class="img-about" src="assets/img/member/david-zuluaga.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="row person_details">
                <h3>Hi I'm <span>David Fernando Zuluaga</span></h3>
                <h4>Fullstack Developer</h4>
                <p>My name is {{information.name}}. I am {{information.age}} years old. Software Engineer with 1+ years in
                    software development with knowledge in Front-End Technologies such as HTML5, CSS3, JavaScript and React,
                    and in Backend technologies such as Python, Django rest framework and PostgrestSQL, I also have experience
                    in Database design and Service Oriented Architectures. Other skills include team work and learning by
                    myself. Also, I am passionate about implementing new technologies and writing coding.</p>
                <br><br>
                <a class="download_btn" target="_self" href="assets/CV_David_Zuluaga.pdf" download="CV-David_zuluaga.pdf"><span>Download
                    Resume</span></a>

                <div class="col-md-6">
                    <ul class="list-check">
                        <li>Software Engineer</li>
                        <li>UI Programming</li>
                        <li>BackEnd Programming</li>
                        <li>Service Oriented Architectures</li>
                        <li>Data Base Design</li>
                        <li>DevOps Culture</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-check">
                        <li>Software Engineer</li>
                        <li>UI Programming</li>
                        <li>BackEnd Programming</li>
                        <li>Service Oriented Architectures</li>
                        <li>Data Base Design</li>
                        <li>DevOps Culture</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>